<h1>About</h1>
<p>
	Frankly, 
	<%= link_to "SpotOkay", "http://spotokay.com" %>
	is about reinventing the same old wheel of helping you find your spot. No kidding!!
</p>

<p>
	Except we're going to do it better!
</p>

