<h1>You're looking at what will soon become SpotOkay!</h1>
<p>
	Feel free to stop by later
</p>
<p>
	<!-- <a href="http://spotokay.com">Your Spot...Okay!!</a> -->
	<%= link_to "Your Spot...Okay!!", "http://spotokay.com" %>
</p>
<p>
	Or you could sign up to get an exclusive invite to try our beta
	<!-- <a href="#">Sign Up!</a> -->
	<%= link_to "Sign Up!", "http://spotokay.com" %>
</p>

